.white-btn{
    color:#000;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    width: 206px;
    padding: 10px 0px;
    display: inline-block;   
}
.white-btn:hover{
    color: #000;
    cursor: pointer;
}
.white-btn:focus{
    color: #000;
    cursor: pointer;
}
.black-btn{
    color:#000;
    background-color: transparent;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    width: 206px;
    border: 1px solid #000;
    padding: 10px 0px;
    display: inline-block;   
}
.black-btn:hover{
    color: #000;
    cursor: pointer;
}
.black-btn:focus{
    color: #000;
    cursor: pointer;
}
/* Responsive */
@media only screen and (max-width: 991px) {
    .black-btn{
        width: 140px;
        font-size: 14px;
    }
    .white-btn{
        width: 140px;
        font-size: 14px;

    }
}
