.footer{
        background: #000;
}
.footer-links{
    padding-top: 20px;
}
.footer-links h2{
    font-size: 20px;
    color: #fff;
    padding-bottom: 20px;
}
.footer-links ul li a{
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.footer-logo{
    padding-bottom: 15px;
}
.footer-logo-section ul li{
    display: flex;
    padding-bottom: 10px;
}
.footer-logo-section ul li label{
    font-size: 16px;
    color: #7e7e7e;
    display: block;
}
.footer-logo-section ul li span{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
.copyrights{
    padding: 20px 0px;
    text-align: center;
    background-color: #7e7e7e;
}
.copyrights p{
    font-size: 14px;
    color: #fff;
    margin: 0px auto;
}
.copyrights p a{
    color: #38dbae!important;
    cursor: pointer;
}
.icon{
    margin-right: 10px;
}
.icon .fa{
    color: #fff;
}
/* Responsive */
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 767px) {
    .copyrights{
        padding: 10px 0px;
    }
    .footer-links h2{
        font-size: 18px;
        padding-bottom: 10px;
    }
}

