.navbar-expand-lg .navbar-collapse{
    justify-content: space-between;
}
.navbar{
    padding: 0px;
}
.navbar-top-section{
    background-color: #000;
    padding: 30px 0px;
}
.navbar-contact-section{
    background-color: #f3f3f3;
}
.navbar-contact{
    display: flex;
    height: 25px;
    justify-content: space-between;
}
.drop-down{
    margin-right: 10px;
}
.navbar-contact select{
    background: transparent;
    border: 0px;
    cursor: pointer;
}
select:focus{
    outline: none!important;
}
.social-section{
    display: flex;
}
.icon-secion ul li{
    display: inline-block;
    padding: 0px 5px;
}
.icon-secion ul li a{
    cursor: pointer;
}
.navbar-contact-section .number-section ul li{
    display: inline-block;
}
.navbar-contact-section .number-section ul li label{
    font-size: 14px;
    font-weight: 400;
}
.navbar-contact-section .number-section ul li:nth-child(1){
    padding-right: 20px;
}
.navbar-expand-md .navbar-nav .nav-link{
    padding: 0px;
    font-size: 15px;
    color:#000;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 10px;
}
.navbar-brand{
    padding: 0px;
    margin: 0px;
}
.navbar-links-section{
    background-color: #fff;
}
.navbar-expand-md .navbar-collapse{
    justify-content: space-between;
}
@media only screen and (max-width: 991px) {
    .navbar-brand img{
        width: 100px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        font-size: 12px;
        padding: 0px 7px;
    }
    
}

@media only screen and (max-width: 761px) {
    .navbar-contact{
        flex-direction: column;
        height: auto;
    }
    .social-section{
        justify-content: space-between;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        font-size: 12px;
        padding: 5px 0px;
    }
    .navbar-light .navbar-toggler{
        color: unset;
        background-color: unset;
    }
    button:focus{
        outline: none!important;
    }
}
