.banner-section{
    background-color: #b8e9f2;
    position: relative;
    height: calc(100vh - 240px);
    margin-top: 180px;
}
.banner-section img{
    width: 100%;
    height: 100%;
}
.banner-text h1{
    color: #000;
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
}
.banner-text h2{
    color: #000;
    font-size: 60px;
    line-height: 90px;
    font-weight: 600;
}
.banner-text p{
    font-size: 16px;
    line-height: 30px;
    color: #000;
}
.banner-text{
    width: 30%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 13%;
}
.banner-text .btn-section{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}
/* Appointment card */
.appointment-card{
    padding: 30px;
    background-color: #38dbae;
    position: absolute;
    border-radius: 20px;
    display: flex;
    bottom: -10%;
    width: 55%;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    justify-content: space-between;
    cursor: pointer;
}
.appointment-card .contact-section{
    display: flex;
    align-items: center;
    width: 48%;
    border-right: 2px solid #fff;
}
.appointment-card .contact-image{
    margin-right: 15px;
}
.appointment-card .appointment-image{
    margin-right: 15px;
}
.appointment-card h2{
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    font-weight: 300;
}
.appointment-card h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.appointment-card .appointment-section{
    display: flex;
    align-items: center;
    width:46%;
}
.appointment-text ul li{
    display: inline-block;
}
.appointment-text ul li label{
    border: 1px solid #ffff;
    border-radius: 20px;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    display: inline-block;
}
/* Gallery section */
.gallery-section{
    display: flex;
    padding-top: 150px;
}
.gallery-section .image:nth-child(1){
    margin-left: 0px;
}
.gallery-section .image{
    margin-left: -50px;
}
.gallery-section img{
    width: 100%;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
}
/* Medical Section */
.medical-section .common-heading h4{
   width: 60%;
}
.medical-image-section img{
    width: 100%;
}
.medical-section .common-heading{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

 .medical-section p{
     font-size: 18px;
     line-height: 26px;
     color:#000;
     font-weight: 300;

 }
 .medical-section .btn-section{
     padding-top: 20px;
     display: flex;
     justify-content: space-between;
 }
 /* latest news */
 .latest-news .common-heading{
     text-align: center;
 }
 .latest-news-card-section{
     padding-top: 50px;
     padding-bottom: 100px;
 }
 .latest-news-card .latest-news-image{
     padding-bottom: 15px;
     position: relative;
 }
 .latest-news-card h2{
     font-size: 20px;
     color: #000;
     line-height: 30px;
 }
 .latest-news-card h3{
    font-size: 16px;
    line-height: 24px;
    color: #7e7e7e;
}
.latest-news-card label{
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: 15px;
    bottom: 25px;
}
 .latest-news-card img{
     width: 100%;
     border-radius: 20px;
 }
 /* patients section */
 .patients .common-heading{
    text-align: center;
}
.patients-card-section{
    padding-top: 50px;
    width: 90%;
    margin: 0px auto;
}
.patient-slider-section{
    padding-bottom: 100px;

}
.patients-card{
    padding: 10px 20px;
    display: flex;
    background-color: #e7e7e7;
    border-radius: 10px;
    justify-content: space-between;
    cursor: pointer;
}
.patients-card .patients-image{
    height: 130px;
}
.patients-card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.patients-text{
    width: 60%;
}
.patients-text h2{
    font-size: 20px;
    padding-bottom: 15px;
}
.patients-text p{
    font-size: 16px;
    font-weight: 400;
}
/* Responsive */
@media only screen and (max-width: 1200px) {
    .appointment-card{
        width: 70%;
        bottom: -20%;
    }
    .banner-text{
        left: 7%;
        width: 39%;
    }
    .banner-text h2{
        font-size: 40px;
        line-height: 60px;
    }
}
@media only screen and (max-width: 991px) {
    .patients-text p{
        font-size: 14px;
    }
    .patients-text{
        width: 100%;
        padding-top: 20px;
    }
    .patients-card{
        flex-direction: column;
    }
    .latest-news-card h2{
        font-size: 16px;
    }
    .latest-news-card h3{
        font-size: 13px;
    }
    .medical-section p{
        font-size: 16px;
    }
    .medical-section .common-heading h4{
        width: 100%;
    }
    .banner-section{
        margin-top: 140px;
    }
    .appointment-card h2{
        font-size: 14px;
    }
    .appointment-card h1{
        font-size: 20px;
    }
    .appointment-card{
        width: 70%;
        padding: 20px;
    }
    .appointment-text ul li label{
        padding: 4px;
        font-size: 11px;
    }
  
    .banner-text h3{
        font-size: 24px;
        line-height: 30px;
    }
    .banner-text h2{
        font-size: 30px;
        line-height: 40px;
    }
    .banner-section{
        height: 50vh;
    }
}
@media only screen and (max-width: 761px) {
    /* patient section */
    .patients-card-section{
        padding-top: 30px;
    }
    .patients-card{
        margin-bottom: 20px;
    }
    
    .patients-card-section:nth-child(2){
        padding-top: 0px;
    }
    .patients-card .patients-image{
        height: 100px;
    }
    .patients-text h2{
        font-size: 18px;
        padding-bottom: 10px;
    }
    .patient-slider-section{
        padding-bottom: 50px;
    }
    .patients-card-section{
        width: 100%;
    }
    /* News Section */
    .latest-news-card{
        margin-bottom: 20px;
    }
    .latest-news-card .latest-news-image{
        padding-bottom: 5px;
        height: 200px;
    }
    .latest-news-card .latest-news-image img{
        height: 100%;
        object-fit: cover;
    }
    .latest-news-card-section{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .latest-news-card h2{
        font-size: 18px;
    }
    .latest-news-card h3{
        font-size: 14px;
    }
    /* Medical section */
    .medical-section .common-heading{
        position: unset;
        transform: initial;
    }
  
    .medical-section p{
        font-size: 15px;
        margin-top: 15px;
    }
    /* gallery section */
    .gallery-section{
        flex-wrap: wrap;
    }
    .gallery-section .image{
        margin-left: 0px;
        width: 50%;
    }
    .gallery-section .image img{
        border-bottom-right-radius: 20px;
    }
    .gallery-section{
        padding-top: 30px;
    }
    /* banner */
    .banner-section{
        height: auto;
        padding-bottom: 20px;
        margin-top: 185px;
    }
    .banner-text{
        width: 90%;
        position: unset;
        transform: initial;
        margin: 0px auto;
    }
    .banner-text h2{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .banner-text h3{
        font-size: 18px;
        line-height: 26px;
        text-align: center;

    }
    .banner-text p{
        font-size: 14px;
        line-height: 24px;
    }
    .appointment-card{
        position: unset;
        width: 90%;
        padding: 10px;
        margin-top: 20px;
        flex-direction: column;
    }
    .banner-text .btn-section{
        padding-top: 20px;
    }
    .appointment-card .contact-section{
        width: 100%;
        border-right: 0px solid #fff;
    }
    .appointment-card .appointment-section{
        width: 100%;
        margin-top: 20px;
    }
    .appointment-card h1{
        font-size: 16px;
    }
    .appointment-card h2{
        font-size: 16px;
    }
    .appointment-card img{
        width: 80%;
    }
    .appointment-text ul li label{
        margin-top: 5px;
    }
}