/* Common Css */
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,p{
    margin-bottom: 0px!important;
}
ul{
    list-style: none;
    padding-left: 0px;
}
.common-container{
    width: 75%;
    margin:0px auto;
}
a{
    text-decoration: none!important;
}
.even{
     background-color: #f3f3f3;
}
.common-padding{
    padding: 100px 0px;
}
.common-padding1{
    padding: 60px 0px;
}
.common-heading h4{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 15px;
 }
 .common-heading h4 span{
    font-weight: 600;

  }
  .slick-initialized .slick-slide:focus{
      outline: none!important;
  }
  .slick-right{
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 45%;
    z-index: 99;
  }
  .slick-left{
    cursor: pointer;
    position: absolute;
    bottom: -3px;
    left: 45%;
    z-index: 99;

  }
  /* Responsive */
@media only screen and (max-width: 1200px) {
    .common-container{
        width: 90%;
    }
}
@media only screen and (max-width: 991px) {
    .slick-left{
        left: 42%;
    }
}
@media only screen and (max-width: 761px) {
    .common-padding1{
        padding: 30px 0px;
    }
    .common-padding{
        padding: 30px 0px;
    }
    .slick-left{
        left: 35%
    }
    .slick-right{
        right: 30%;
    }
    .common-heading h4{
        padding-bottom: 0px;
        font-size: 20px;
    }
}